@charset "utf-8";
#header {
	height: 100px;
	background-image: url(../images/header.jpg);
	background-repeat: repeat-x;
}
#header #btn {
	width: 150px;
	float: left;
	margin-top: 70px;
	margin-left: 300px;
}
#header #logo {
	height: 66px;
	width: 311px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
#header #btn p {
	float: left;
	margin-left: 3px;
}
#header #bnr {
	height: 73px;
	width: 184px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
#header_contents {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
